# Lauren Bassett 
# jme9rt 
# DS5001 Final Project

*The goal of your final project is to apply and integrate what you have learned in this course to
create ​a digital critical edition of a corpus​ that will support exploration of the cultural contents of
that corpus. Cultural content is broadly conceived​—it may be about language use, social events,
cultural categories, sentiments, identity, taste, etc.*

## Part 0: Import Statements/Reading in Files

In [1]:
import pandas as pd 
import numpy as np
%matplotlib inline
import re
from glob import glob
import re
import nltk

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
xmas_carol_text = 'christmas-carol.txt'
wise_man_text = 'wise-man.txt'
OHCO = ['title', 'chap_num', 'para_num', 'sent_num', 'token_num']

[nltk_data] Downloading package punkt to /Users/lbassett/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/lbassett/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/lbassett/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Part 1: Convert

In [2]:
#-------
# Christmas Carol
xmas = open(xmas_carol_text, 'r', encoding='utf-8-sig').readlines()
df = pd.DataFrame(xmas, columns=['line_str'])
df.index.name = 'line_num'
df.line_str = df.line_str.str.strip()
title = df.loc[0].line_str.replace('The Project Gutenberg EBook of ', '')
df['title'] = title

#--------
# The Other Wise man
wise = open(wise_man_text, 'r', encoding='utf-8-sig').readlines()
df2 = pd.DataFrame(wise, columns=['line_str'])
df2.index.name = 'line_num'
df2.line_str = df2.line_str.str.strip()
title = df2.loc[0].line_str.replace('The Project Gutenberg eBook,', '')
df2['title'] = title

There are illustrations in the text, and I want to make sure to remove the captions for all the illustrations. However, there are a handful that take up multiple lines. To remove these from the corpus, I found it easier to remove these first, then continue with the rest of the data cleansing.

In [3]:
#------
# A Christmas Carol
start = df.line_str.str.match(r'\[.*[^\]]$')
df.loc[start]

,line_str,title
line_num,,
40,"[Illustration: _""How now?"" said Scrooge, caust...","A Christmas Carol, by Charles Dickens"
570,[Illustration: _Bob Cratchit went down a slide...,"A Christmas Carol, by Charles Dickens"
669,[Illustration: _Nobody under the bed; nobody i...,"A Christmas Carol, by Charles Dickens"
971,[Illustration: _The air was filled with phanto...,"A Christmas Carol, by Charles Dickens"
1364,[Illustration: HE PRODUCED A DECANTER OF CURIO...,"A Christmas Carol, by Charles Dickens"
1463,[Illustration: _Then old Fezziwig stood out to...,"A Christmas Carol, by Charles Dickens"
2458,[Illustration: _The way he went after that plu...,"A Christmas Carol, by Charles Dickens"
2735,[Illustration:,"A Christmas Carol, by Charles Dickens"
3527,"[Illustration: _""It's I, your uncle Scrooge. I...","A Christmas Carol, by Charles Dickens"
3581,"[Illustration: _""Now, I'll tell you what, my f...","A Christmas Carol, by Charles Dickens"

In [4]:
big_quotes = []
for index, row in df.loc[start].iterrows():
    big_quotes.append(index)
    end = 1
    while end != -1: 
        #Continue to iterate through each line of the dataframe until the illustration is over, which is marked with the ']' character. 
        # Keep track of each line included, all of these need to be removed. 
        big_quotes.append(index+end)
        if re.search('\]', df.iloc[index+end]['line_str']):
            end = -1
        else:
            end = end+1
df.drop(big_quotes, axis=0, inplace=True)
df

,line_str,title
line_num,,
0,The Project Gutenberg EBook of A Christmas Car...,"A Christmas Carol, by Charles Dickens"
1,,"A Christmas Carol, by Charles Dickens"
2,This eBook is for the use of anyone anywhere a...,"A Christmas Carol, by Charles Dickens"
3,almost no restrictions whatsoever. You may co...,"A Christmas Carol, by Charles Dickens"
4,re-use it under the terms of the Project Guten...,"A Christmas Carol, by Charles Dickens"
...,...,...
3971,,"A Christmas Carol, by Charles Dickens"
3972,This Web site includes information about Proje...,"A Christmas Carol, by Charles Dickens"
3973,including how to make donations to the Project...,"A Christmas Carol, by Charles Dickens"
3974,"Archive Foundation, how to help produce our ne...","A Christmas Carol, by Charles Dickens"
3975,subscribe to our email newsletter to hear abou...,"A Christmas Carol, by Charles Dickens"

In [5]:
a = df.line_str.str.match(r"\*\*\*\s*START OF (THE|THIS) PROJECT")
b = df.line_str.str.match(r"\*\*\*\s*END OF (THE|THIS) PROJECT")
an = df.loc[a].index[0]
bn = df.loc[b].index[0]
df = df.loc[an + 1 : bn - 2]

#---
# The other wise man
a2 = df2.line_str.str.match(r"\*\*\*\s*START OF (THE|THIS) PROJECT")
b2 = df2.line_str.str.match(r"\*\*\*\s*END OF (THE|THIS) PROJECT")
an2 = df2.loc[a2].index[0]
bn2 = df2.loc[b2].index[0]
df2 = df2.loc[an2 + 39 : bn2 - 2]

In [11]:
df2

,line_str,title
line_num,,
64,,"The Story of the Other Wise Man, by Henry van"
65,,"The Story of the Other Wise Man, by Henry van"
66,,"The Story of the Other Wise Man, by Henry van"
67,ILLUSTRATIONS,"The Story of the Other Wise Man, by Henry van"
68,,"The Story of the Other Wise Man, by Henry van"
...,...,...
1007,,"The Story of the Other Wise Man, by Henry van"
1008,His journey was ended. His treasures were acce...,"The Story of the Other Wise Man, by Henry van"
1009,had found the King.,"The Story of the Other Wise Man, by Henry van"
1010,,"The Story of the Other Wise Man, by Henry van"
1011,,"The Story of the Other Wise Man, by Henry van"

What is a Stave? 


"This is an unusual structure that mimics the way a musical piece is put together. The Staves follow the action of the story with the first stave setting the scene, the middle stave showing the turning point for Scrooge and the final stave concluding the story by presenting him as a changed man." -https://www.bbc.co.uk/bitesize/guides/zqxp4j6/revision/2

In [7]:
chap_lines = df.line_str.str.match(r"^\s*(STAVE )(ONE|TWO|THREE|FOUR|FIVE)(?!—)", case=False)
df.loc[chap_lines]

#Remove everything before STAVE ONE
chap_nums = [i+1 for i in range(df.loc[chap_lines].shape[0])]
df.loc[chap_lines, 'chap_num'] = chap_nums
df.chap_num = df.chap_num.ffill()
#Remove all lines containing [Illustration]

/var/folders/0r/hry4zr3s1m57hjbkgslzxvnr0000gp/T/ipykernel_70592/2922387919.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[chap_lines, 'chap_num'] = chap_nums
/var/folders/0r/hry4zr3s1m57hjbkgslzxvnr0000gp/T/ipykernel_70592/2922387919.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.chap_num = df.chap_num.ffill()

In [20]:
chap_lines2 = df2.line_str.str.match(r"INTRODUCTION|THE SIGN IN THE SKY|BY THE WATERS OF BABYLON|FOR THE SAKE OF A LITTLE CHILD|IN THE HIDDEN WAY OF SORROW|A PEARL OF GREAT PRICE", case = True,)
df2.loc[chap_lines2]
chap_nums2 = [i+1 for i in range(df2.loc[chap_lines2].shape[0])]
df2.loc[chap_lines2, 'chap_num'] = chap_nums2
df2.chap_num= df2.chap_num.ffill()

In [22]:
df = df.loc[~df.chap_num.isna()] # Remove chapter heading lines
df = df.loc[~chap_lines] # Remove everything before Chapter 1
df.chap_num = df.chap_num.astype('int') # Convert chap_num from float to int

illustration_phrase =  df.line_str.str.match(r'\[Illustration:?.*| ?.*\]')
 #Remove all lines containing [Illustration]
df = df.loc[~illustration_phrase]


df2 = df2.loc[~df2.chap_num.isna()] # Remove chapter heading lines
df2 = df2.loc[~chap_lines2] # Remove everything before Chapter 1
df2.chap_num = df2.chap_num.astype('int') # Convert chap_num from float to int

illustration_phrase2 = df2.line_str.str.match(r'\[Illustration:?.*| ?.*\]')
 #Remove all lines c    ontaining [Illustration]
df2 = df2.loc[~illustration_phrase2]

In [ ]:
df = df.concat([df,df2])

In [8]:
dfc = df.groupby(OHCO[:2]).line_str.apply(lambda x: '\n'.join(x)).to_frame() # Make big string

In [9]:
dfp = dfc['line_str'].str.split(r'\n\n+', expand=True).stack()\
    .to_frame().rename(columns={0:'para_str'})
dfp.index.names = OHCO[:3]

dfp['para_str'] = dfp['para_str'].str.replace(r'\n', ' ').str.strip()
dfp = dfp[~dfp['para_str'].str.match(r'^\s*$')] # Remove empty paragraphs

/var/folders/0r/hry4zr3s1m57hjbkgslzxvnr0000gp/T/ipykernel_56522/4088490130.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dfp['para_str'] = dfp['para_str'].str.replace(r'\n', ' ').str.strip()

In [10]:
dfs = dfp['para_str'].str.split(r'[.?!;:"]+', expand=True).stack()\
    .to_frame().rename(columns={0:'sent_str'})

dfs.index.names = OHCO[:4]

dfs = dfs[~dfs['sent_str'].str.match(r'^\s*$')] # Remove empty paragraphs

In [11]:
dft = dfs['sent_str'].str.split(r"[\s',-]+", expand=True).stack()\
    .to_frame().rename(columns={0:'token_str'})
    
dft.index.names = OHCO[:5]
dft

                                                                            token_str
title                                 chap_num para_num sent_num token_num
A Christmas Carol, by Charles Dickens 1        1        0        0             MARLEY
                                                                 1                  S
                                                                 2              GHOST
                                               2        0        0             Marley
                                                                 1                was
...                                                                               ...
                                      5        74       0        8          Christmas
                                                                 9              Carol
                                                                 10                by
                                                                 11           Charles
                                                                 12           Dickens

[31857 rows x 1 columns]

## Part 2: Annotate

In [12]:
def tokenize(doc_df, OHCO=OHCO, remove_pos_tuple=False, ws=False):
    
    # Paragraphs to Sentences
    df = doc_df.para_str\
        .apply(lambda x: pd.Series(nltk.sent_tokenize(x)))\
        .stack()\
        .to_frame()\
        .rename(columns={0:'sent_str'})
    
    # Sentences to Tokens
    # Local function to pick tokenizer
    def word_tokenize(x):
        if ws:
            s = pd.Series(nltk.pos_tag(nltk.WhitespaceTokenizer().tokenize(x)))
        else:
            s = pd.Series(nltk.pos_tag(nltk.word_tokenize(x))) # Discards stuff in between
        return s
            
    df = df.sent_str\
        .apply(word_tokenize)\
        .stack()\
        .to_frame()\
        .rename(columns={0:'pos_tuple'})
    
    # Grab info from tuple
    df['pos'] = df.pos_tuple.apply(lambda x: x[1])
    df['token_str'] = df.pos_tuple.apply(lambda x: x[0])
    if remove_pos_tuple:
        df = df.drop('pos_tuple', 1)
    
    # Add index
    df.index.names = OHCO
    
    return df

In [13]:
TOKEN = tokenize(dfp, ws=False)

In [14]:
TOKEN['term_str'] = TOKEN['token_str'].str.lower().str.replace('[\W_]', '')

/var/folders/0r/hry4zr3s1m57hjbkgslzxvnr0000gp/T/ipykernel_56522/2045287459.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  TOKEN['term_str'] = TOKEN['token_str'].str.lower().str.replace('[\W_]', '')

In [15]:
VOCAB = TOKEN.term_str.value_counts().to_frame()\
    .rename(columns={'index':'term_str', 'term_str':'n'})\
    .sort_index().reset_index().rename(columns={'index':'term_str'})
VOCAB.index.name = 'term_id'
VOCAB['num'] = VOCAB.term_str.str.match("\d+").astype('int')
sw = pd.DataFrame(nltk.corpus.stopwords.words('english'), columns=['term_str'])
sw = sw.reset_index().set_index('term_str')
sw.columns = ['dummy']
sw.dummy = 1

In [16]:
VOCAB['stop'] = VOCAB.term_str.map(sw.dummy)
VOCAB['stop'] = VOCAB['stop'].fillna(0).astype('int')
VOCAB[VOCAB.stop == 1].sample(10)

           term_str    n  num  stop
term_id
2561            off   34    0     1
2039         itself   11    0     1
171              as  229    0     1
1892            how   42    0     1
299           being   35    0     1
1823           here   42    0     1
2621           over   18    0     1
3792     themselves    6    0     1
1825        herself    1    0     1
1928             if  110    0     1

In [17]:
from nltk.stem.porter import PorterStemmer
stemmer1 = PorterStemmer()
VOCAB['stem_porter'] = VOCAB.term_str.apply(stemmer1.stem)

from nltk.stem.snowball import SnowballStemmer
stemmer2 = SnowballStemmer("english")
VOCAB['stem_snowball'] = VOCAB.term_str.apply(stemmer2.stem)

from nltk.stem.lancaster import LancasterStemmer
stemmer3 = LancasterStemmer()
VOCAB['stem_lancaster'] = VOCAB.term_str.apply(stemmer3.stem)

In [18]:
def get_POS_Count(row):
    term = row['term_str']

    return TOKEN[TOKEN['term_str']== term].value_counts('pos').idxmax()

In [19]:
VOCAB['pos_max'] = VOCAB.apply(get_POS_Count, axis=1)

In [20]:
VOCAB.sample(10)

,term_str,n,num,stop,stem_porter,stem_snowball,stem_lancaster,pos_max
term_id,,,,,,,,
3331,shop,4,0,0,shop,shop,shop,NN
3577,stated,1,0,0,state,state,stat,VBN
1502,frail,1,0,0,frail,frail,frail,NN
3732,table,11,0,0,tabl,tabl,tabl,NN
1780,haunt,1,0,0,haunt,haunt,haunt,NNP
2151,laughter,3,0,0,laughter,laughter,laught,NN
470,brownpaper,1,0,0,brownpap,brownpap,brownpap,NN
2987,reached,2,0,0,reach,reach,reach,VBD
3904,tremulous,2,0,0,tremul,tremul,trem,JJ
1971,indescribable,1,0,0,indescrib,indescrib,indescrib,JJ

## Part 3: Create

In [21]:
count_method = 'n' # 'c' or 'n' # n = n tokens, c = distinct token (term) count
tf_method = 'sum' # sum, max, log, double_norm, raw, binary
tf_norm_k = .5 # only used for double_norm
idf_method = 'standard' # standard, max, smooth
gradient_cmap = 'YlGnBu' # YlGn, GnBu, YlGnBu; For tables; see https://matplotlib.org/3.1.0/tutorials/colors/colormaps.html

In [22]:
SENTS = OHCO[:4]
PARAS = OHCO[:3]
CHAPS = OHCO[:2]
BOOKS = OHCO[:1]

In [35]:
TOKEN['term_id'] = TOKEN.term_str.map(VOCAB.reset_index().set_index('term_str').term_id)

## Part 4: Extend

## Part 5: Present